<div class="header">
  <div class="header__container container">
    <h1 class="header__logo">Transfer <h2 class="header__logo header__logo-italic">Bank</h2></h1>
    <div class="exchange-rates">
      <div class="exchange-rates__item">EUR {{rateBuyEUR | number:'2.5'}}/{{rateSellEUR | number:'2.5'}}</div>
      <div class="exchange-rates__item">USD {{rateBuyUSD | number:'2.5'}}/{{rateSellUSD | number:'2.5'}}</div>
    </div>
    <nav class="header__navigation">
      <button class="header__btn active">Services</button>
      <button class="header__btn">My wallet</button>
      <button class="header__btn">Profile</button>
    </nav>
  </div>
</div>